body{
    margin: 0;
    background-image: url('img1.jpg');
  }
  .secao {
    padding: 10px 20px;
    width: 600px;
    margin: 0 auto;
    color: rgb(201, 201, 201);
  }

  .secao-topo {
    background-color: #0078f2;
    text-align: center;
    padding: 10px 20px;
  }
  .secao-topo p {
    margin: 0;
    font-size: 22px;
    color: #fff
  }
  img {
    width: 100%;
  }

  p {
    line-height: 28px;
    font-size: 18px;
  }

  span {
    color: #fff;
    font-weight: bold;
  }

  .box-compra {
    margin: 0 auto;
    border: 1px solid #fff;
    text-align: center;
    width: 350px;
    padding: 0 20px 20px;
  }

  a {
    background-color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
  }