body{

    background-color: aqua;
    width: 100%;
    height: 100%;
  }

  div{
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
  }

  img {
    width: 100%;
    height: 100%;
  }