div {
    border-left: 5px solid blue;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;   
}




h2 {
    color: #a1a1a1;
    background-color: #000000;
    font-weight: bold;
    text-decoration: overline;
    text-align: center;
    padding: 10px;
}


h3 {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
}


h4 {
    border-bottom: 2px dashed rgb(244, 244, 150);
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: underline;
    text-align: center;
    }
