body {
    margin: 0;
    font-family: Tahoma;
}

/* === Estilos globais === */
.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragrafo {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
}

/* ===  1ª seção === */
.topo {
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #d5960054;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
}

h1 {
    color: #d59600;
    margin-bottom: 5px;
}

.paragrafo-topo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.link-topo {
    color: #d59600;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px solid #d59600;
}

/* ===  2ª seção === */

.banner {
    padding-top: 0;
}

.banner-img {
    width: 100%;
}

/* ===  estilos para destaques === */

span {
    font-weight: bold;
}

/* ===  3ª seção === */

h2 {
    font-weight: normal;
    color: #000;
    margin-top: 0;
}

.imagem {
    width: 450px;
}

.texto-amarelo {
    color: #d59600;
}

/* ===  4ª seção === */

h3 {
    color: #000;
    font-size: 28px;
    line-height: 42px;
}

.paragrafo-servicos {
    color: #ffffff;
    line-height: 42px;
    width: 700px;
    font-size: 22px;
    text-align: center;
}

.texto-branco {
    color: #ffffff;
}

.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;
}

.item-lista-servicos {
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    color: #fff;
}

/* ===  6ª seção === */

.paragrafo-contato {
    text-align: center;
    color: #fff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.link {
    text-decoration: none;
    border-bottom: 2px solid #d59600;
}