div {
    font-family: Verdana;
}

h1 {
    font-size: 22px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #88100f;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 16px;
    text-decoration: underline;
    color: #88100f;
}

p {
    font-size: 14px;
    line-height: 28px;
}