body {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: #ff1700;
}
.container {
    width: 700px;
    border: 3px solid #ff1700;
    margin: 50px auto;
    padding: 30px 30px 60px;
    position: relative;
}
h3 {
    margin-bottom: 20px;
    font-size: 26px;
}
.ingredientes {
    font-size: 20px;
}
.icone {
    width: 70px;
    height: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    background-color: #ff1700;
    color: #fff700;
    border-radius: 50%;
    padding-top: 20px;
    position: absolute;
    top: -45px;
    left: -25px;
}
.btn-fazer-pedido {
    border: none;
    border-radius: 5px;
    color: #fff700;
    font-weight: 800;
    font-size: 18px;
    background-color: #ff1700;
    text-decoration: none;
    width: 240px;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: -26px;
    right: 10px;
}